<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Thời trang</a>
                                    </li>
                                    <li>
                                        <a href="#">Làm đẹp</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Cuộc sống</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>
                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>

                        <div class="header-right">
                            <div class="header-search">
                                <form action="#" class="search-form">
                                    <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                    <button class="f-submit" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>

                                <div class="header-search-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>

                            <div class="header-login">
                                <div class="login-box">
                                    <div class="login-icon">
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                    </div>

                                    <div class="text-login">
                                        <a class="popup-account" href="#popup-sigup">Đăng ký</a>
                                        <span>/</span>
                                        <a class="popup-account" href="#popup-login">Đăng nhập</a>
                                    </div>
                                </div>
                            </div>

                            <div class="header-lang-desktop">
                                <div class="box-lang item-menu ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="img/logo-vn.svg">
                                        </option>
                                        <option value="EN" data-thumbnail="img/logo-vn.svg">
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value=""></button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="post-detail">
                <div class="container">
                    <div class="post-wrapper">
                        <div class="columns">
                            <div class="column post-txt">
                                <div class="post-inner">
                                    <div class="post-new">
                                        <div class="post-head">
                                            <h3 class="post-tile tt-30">
                                                Mel Ottenberg’s Summer Sunglasses Are
                                                $34 And Made By @Oldjewishmen
                                            </h3>
                                            <div class="post-fot tt-12">
                                                <p class="post-name t-uppercase ">
                                                    By Goodin
                                                </p>
                                                <div class="post-social">
                                                    <div class="social-item">
                                                        <a class="social-link t-uppercase">
                                                            <img src="./img/icon-tym.svg" alt="icon-tym.svg">
                                                            thích
                                                        </a>
                                                    </div>
                                                    <div class="social-item">
                                                        <a href="#" class="social-link t-uppercase">
                                                            <img src="./img/icon-share.svg" alt="icon-share.svg">
                                                            chia sẻ
                                                        </a>
                                                    </div>
                                                    <div class="social-item">
                                                        <a href="#" class="social-link t-uppercase">
                                                            <img src="./img/icon-comment.svg" alt="icon-comment.svg">
                                                            bình luận
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-intro tt-16">
                                                <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam
                                                    Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam
                                                    Erat, Sed Diam Voluptua.</p>
                                            </div>
                                        </div>
                                        <div class="mona-content">
                                            <div class="box-img">
                                                <img src="./img/img-post-1.png" alt="img-post-1.png">

                                                <div class="post-tag">
                                                    <a href="#" class="tag-link">
                                                        #thoitrangcuocsong
                                                    </a>
                                                    <a href="#" class="tag-link">
                                                        #thoitrang
                                                    </a>
                                                    <a href="#" class="tag-link active">
                                                        #thoitrangcuocsong
                                                    </a>
                                                    <a href="#" class="tag-link">
                                                        #thoitrang
                                                    </a>
                                                </div>
                                            </div>

                                            <h4>What Is An Online Community?</h4>

                                            <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam
                                                Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam
                                                Erat, Sed Diam Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores
                                                Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata Sanctus Est
                                                Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet, Consetetur
                                                Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore
                                                Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Et
                                                Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren,
                                                No Sea Takimata Sanctus Est Lorem Ipsum Dolor Sit Amet.</p>


                                            <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam
                                                Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam
                                                Erat, Sed Diam Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores
                                                Et Ea Rebum. Stet Clita Kasd Gubergren</p>

                                            <div class="box-small-img">
                                                <div class="small-img">
                                                    <img src="./img/img-post-2.png" alt="img-post-2.png">
                                                    <span class="tt-12 f-italic">Name photo demo</span>
                                                </div>
                                                <div class="small-img">
                                                    <img src="./img/img-post-3.png" alt="img-post-3.png">
                                                    <span class="tt-12 f-italic">Name photo demo</span>
                                                </div>
                                            </div>

                                            <h4>What Is An Online Community?</h4>

                                            <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam
                                                Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam
                                                Erat, Sed Diam Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores
                                                Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata Sanctus Est
                                                Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet, Consetetur
                                                Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore
                                                Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua. At Vero Eos Et
                                                Accusam Et Justo Duo Dolores Et Ea Rebum. Stet Clita Kasd Gubergren,
                                                No Sea Takimata Sanctus Est Lorem Ipsum Dolor Sit Amet.</p>


                                            <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam
                                                Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam
                                                Erat, Sed Diam Voluptua. At Vero Eos Et Accusam Et Justo Duo Dolores
                                                Et Ea Rebum. Stet Clita Kasd Gubergren</p>
                                        </div>
                                        <div class="post-footer">
                                            <div class="postft-infomation">
                                                <div class="postft-img">
                                                    <img src="./img/post-avatar.png" alt="post-avatar.png">
                                                </div>
                                                <div class="postft-tx">
                                                    <p class="postft-label t-capitalize">
                                                        Tác giả
                                                    </p>
                                                    <div class="postft-name">
                                                        <p class="f-bold t-capitalize tt-16">
                                                            nguyễn anh tuấn
                                                        </p>
                                                    </div>
                                                    <div class="postft-more">
                                                        <a href="#" class="t-uppercase t-underline">
                                                            Xem tất cả bài viết của tác giả này
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postft-ifo">
                                                <div class="postft-box">
                                                    <p class="postft-ti t-capitalize">
                                                        số bài viết:
                                                    </p>
                                                    <p class="postft-number f-bold tt-16">
                                                        2,345
                                                    </p>
                                                </div>
                                                <div class="postft-box">
                                                    <p class="postft-ti t-capitalize">
                                                        Lượt Ưu Thích:
                                                    </p>
                                                    <p class="postft-number f-bold tt-16">
                                                        122,345
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="post-related">

                                </div>
                                <div class="post-comment">

                                </div>
                            </div>
                            <div class="column post-sidebar">
                                <div class="sidebar-inner">
                                    <div class="breadcrumb">
                                        <ul class="breadcrumb-menu">
                                            <li class="breadcrumb-list">
                                                <a href="home.html">Trang chủ</a>
                                            </li>
                                            <li class="breadcrumb-list current">
                                                <a href="#">Thời trang</a>
                                            </li>
                                            <li class="breadcrumb-list current">
                                                <a href="#">Mel Ottenberg’s ….</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="footer sec-70">
            <div class="container">
                <div class="footer-wrapper">
                    <div class="columns">
                        <div class="column">
                            <div class="ft-logo">
                                <a href="#">
                                    <img src="./img/logo-footer.png" alt="logo-footer.png">
                                </a>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ft-inner">
                                <div class="ft-title">
                                    <h4 class="ft-tt tt-20 f-medium t-uppercase">liên hệ với chúng tôi</h4>
                                </div>
                                <div class="ft-box">
                                    <div class="ft-social">
                                        <div class="ft-item">
                                            <a href="#">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="ft-item">
                                            <a href="#">
                                                <img src="./img/logo-zalo.svg" alt="logo-zalo.svg">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="ft-text t-center">
                                        <p class="tt-15 t-uppercase">Something good in life</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="column">
                            <div class="ft-iner">
                                <div class="ft-list">
                                    <div class="ft-item">
                                        <a href="#">
                                            Thời trang
                                        </a>
                                    </div>

                                    <div class="ft-item">
                                        <a href="#">
                                            Làm đẹp
                                        </a>
                                    </div>

                                    <div class="ft-item">
                                        <a href="#">
                                            Cuộc sống
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </footer>

        <div class="box-flex">
            <a href="#" class="f-bold t-capitalize">
                đăng ký ngay
            </a>
        </div>

        <!-- form popup login -->
        <div id="popup-login" class="mfp-hide white-popup-block">
            <div class="popup-wrapper">
                <div class="popup-cols">
                    <div class="popup-col">
                        <div class="popup-img">
                            <img src="./img/popup-login.png" alt="popup-login.png">
                        </div>
                    </div>
                    <div class="popup-col">
                        <div class="popup-inner">
                            <h3 class="popup-title tt-20 f-bold">
                                Đăng nhập
                            </h3>
                            <div class="popup-content">
                                <form action="#">
                                    <div class="popup-form">
                                        <label class="label tt-12 t-uppercase">
                                            tên đăng nhập/email
                                        </label>

                                        <input type="text" class="popup-f f-control">
                                    </div>
                                    <div class="popup-form">
                                        <label class="label tt-12 t-uppercase">
                                            mật khẩu
                                        </label>
                                        <input type="password" class="popup-f f-control">
                                    </div>

                                    <div class="popup-form popup-tx">
                                        <label class="label-i">
                                            <input type="checkbox" name="tets">
                                            <div class="checkmark">
                                                <span>Ghi nhớ tài khoản</span>
                                            </div>
                                        </label>
                                        <a href="#popup-forgot" class="text-forgot main-cl">
                                            Quên mật khẩu ?
                                        </a>
                                    </div>
                                    <div class="popup-submit">
                                        <input type="submit" value="Đăng nhập" class="f-submit">
                                    </div>

                                </form>
                            </div>
                            <div class="popup-nottk">
                                <span>Bạn chưa có tài khoản </span><a href="#" class="sigup-now">Đăng ký
                                    ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- form popup sigup -->
        <div id="popup-sigup" class="mfp-hide white-popup-block">
            <div class="popup-wrapper">
                <div class="popup-cols">
                    <div class="popup-col">
                        <div class="popup-img">
                            <img src="./img/popup-sigup.png" alt="popup-sigup.png">
                        </div>
                    </div>
                    <div class="popup-col">
                        <div class="popup-inner">
                            <h3 class="popup-title tt-20 f-bold">
                                Đăng ký tài khoản
                            </h3>
                            <div class="popup-content">
                                <form action="#">
                                    <div class="popup-form">
                                        <label class="label tt-12 t-uppercase">
                                            Tên đăng nhập
                                        </label>
                                        <input type="text" class="popup-f f-control">
                                    </div>
                                    <div class="popup-form">
                                        <label class="label tt-12 t-uppercase">
                                            Tên hiển thị
                                        </label>
                                        <input type="text" class="popup-f f-control">
                                    </div>
                                    <div class="popup-form">
                                        <label class="label tt-12 t-uppercase">
                                            Số điện thoại
                                        </label>
                                        <input type="text" class="popup-f f-control">
                                    </div>
                                    <div class="popup-form">
                                        <label class="label tt-12 t-uppercase">
                                            Email
                                        </label>
                                        <input type="text" class="popup-f f-control">
                                    </div>
                                    <div class="popup-form">
                                        <label class="label tt-12 t-uppercase">
                                            Mật khẩu
                                        </label>
                                        <input type="password" class="popup-f f-control">
                                    </div>
                                    <div class="popup-form">
                                        <label class="label tt-12 t-uppercase">
                                            Nhập lại mật khẩu
                                        </label>
                                        <input type="password" class="popup-f f-control">
                                    </div>


                                    <div class="popup-submit">
                                        <input type="submit" value="Đăng ký" class="f-submit">
                                    </div>

                                </form>
                            </div>
                            <div class="popup-nottk">
                                <span>Bạn đã có tài khoản </span><a href="#" class="sigup-now">Đăng nhập
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- form popup forgot pass -->
        <div id="popup-forgot" class="mfp-hide white-popup-block">
            <div class="popup-wrapper">
                <div class="popup-cols">
                    <div class="popup-col">
                        <div class="popup-img">
                            <img src="./img/popup-forgot.png" alt="popup-forgot.png">
                        </div>
                    </div>
                    <div class="popup-col">
                        <div class="popup-inner t-center popup-forgot">
                            <h3 class="popup-title tt-20 f-bold">
                                Quên mật khẩu ?
                            </h3>
                            <div class="popup-content">
                                <form action="#">
                                    <div class="popup-form">
                                        <label class="label tt-12 t-uppercase">
                                            Nhập email
                                        </label>

                                        <input type="text" class="popup-f f-control t-center">
                                    </div>
                                    <div class="popup-text tt-12 f-italic">
                                        <p>Một đường link kích hoat sẽ được gửi đến email của bạn</p>
                                    </div>


                                    <div class="popup-submit">
                                        <input type="submit" value="Xác nhận" class="f-submit">
                                    </div>

                                </form>
                            </div>
                            <div class="popup-nottk">
                                <span>Bạn đã có tài khoản </span><a href="#" class="sigup-now">Đăng nhập
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>

    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>