.main-cl {
    color: $main-cl;
}

.w-cl {
    color: $w-cl;
}

.f-medium {
    font-weight: 500;
}

.f-italic{
    font-style: italic;
}

.t-capitalize {
    text-transform: capitalize;
}

.t-underline{
    text-decoration: underline;
}


.box-flex {
    position: fixed;
    top: 50%;
    right: 22px;
    background-color: $main-cl;
    color: $w-cl;
    padding: 13px 17px 12px;
    border-radius: 6px 6px 0 0;
    transform-origin: right;
    transform: translateY(-50%) rotate(-90deg);
    transition: all .3s ease;
    cursor: pointer;
    z-index: 99;

    @include max-media($bk-d-768) {
        padding: 10px 10px 9px;
        right: 19px;
    }

    &:hover {
        background-color: rgba($color: $main-cl, $alpha: .6);
    }
}

.container-n {
    max-width: 100%;
    width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

.popup-wrapper {
    .popup-cols {
        display: flex;
        // align-items: center;
        flex-wrap: wrap;
        margin: 0 -15px;
        @include max-media($bk-d-992){
            margin: 0 -7.5px;
        }
    }

    .popup-col {
        width: 50%;
        padding: 0 15px;
        @include max-media($bk-d-992){
            padding: 0 7.5px;
        }

        @include max-media($bk-600){
            width: 100%;
        }
    }

    .popup-img {
        height: 100%;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;

            @include max-media($bk-600){
                max-height: 260px;
            }
        }
    }

    .popup-inner {
        padding: 40px 0;
        padding-right: 30px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @include max-media($bk-d-992){
            padding: 20px 0;
            padding-right: 20px;
        }
        
        @include max-media($bk-600){
            padding: 15px 20px;
        }

        // &.popup-forgot{
         
        // }

        .popup-title {
            margin-bottom: 30px;
            @include lh(25, 20);
            text-align: center;
            @include max-media($bk-d-992){
                margin-bottom: 15px;
            }
        }

        .popup-content {
            .label {
                color: rgba($color: $b-cl, $alpha: .7);
            }

            .f-control {
                border: none;
                border-bottom: 1px solid rgba($color: $g-7070-cl, $alpha: .1);
                border-radius: 0;
                padding: 0;
                padding-bottom: 10px;
                @include fz-16;
                height: auto;
                transition: all .3s ease;

                &:hover,
                &:focus {
                    border-color: $main-cl;
                }
            }

            .popup-form {
                &:not(:first-child) {
                    margin-top: 25px;
                    @include max-media($bk-d-992){
                        margin-top: 20px;
                    }
                }
            }

            .popup-tx {
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    display: none;
                }
            }

            .label-i {
                input {
                    &:checked+.checkmark {
                        &::before {
                            content: '\f00c';
                        }
                    }
                }

                .checkmark {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        border-radius: 4px;
                        border: 1px solid rgba($color: $b-cl, $alpha: .2);
                        font-family: 'Fontawesome';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                    }
                }
            }

            .text-forgot {
                transition: all .3s ease;

                &:hover {
                    text-decoration: underline;
                }
            }

            .popup-submit {
                margin-top: 25px;
                text-align: center;
                @include max-media($bk-d-992){
                    margin-top: 20px;
                }
                .f-submit {
                    border-radius: 20px;
                    background-color: $main-cl;
                    color: $w-cl;
                    font-weight: 500;
                    @include fz-15;
                    padding: 11px 10px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    @include lh(18,15);
                    width: 200px;
                    transition: all .3s ease;
                    &:hover{
                        letter-spacing: 2px;
                    }

                }
            }

            

            .popup-text{
                color: rgba($color: $b-cl, $alpha: .6);
                margin-top: 20px;
            }
        }

        .popup-nottk{
            margin-top: 30px;
            text-align: center;
            @include max-media($bk-d-992){
                margin-top: 15px;
            }
            .sigup-now{
                text-decoration: underline;
                color: $main-cl;
                font-weight: 500;
                transition: all .3s ease;
                &:hover{
                    color: $main-cl-2;
                }
            }
        }
    }
}

.home-box{
    .home-img{
        overflow: hidden;
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        img{
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            transition: all .3s ease;
        }
    }

    .home-content{
        margin-top: 10px;
    }

    .home-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        @include max-media($bk-576){
            margin-bottom: 5px;
        }
        .home-date{
            color: rgba($color: $b-cl, $alpha: .7);
        }
    }

    .home-tt{
        margin-bottom: 10px;
        transition: all .3s ease;
        @include line-clamp(2);
        @include lh(22,18);
        @include max-media($bk-576){
            margin-bottom: 5px;
        }
        &:hover{
            color: $main-cl;
        }
    }

    .home-fot{
        display: flex;
        align-items: center;
        justify-content:space-between;
        color: rgba($color: $b-cl, $alpha: .7);
        .home-name{
            
        }

        .home-social{
            display: flex;
            align-items: center;
            .social-item{
                &:not(:first-child){
                    margin-left: 15px;
                }
                
            }

            .social-link{
                display: flex;
                align-items: center;
                text-transform: uppercase;
                transition: all .3s ease;
                @include max-media($bk-d-1200){
                    font-size: 0;
                }
                &:hover{
                    color: $main-cl;
                }

                img{
                    filter: brightness(0) invert(0);
                    margin-right: 5px;
                }
            }
        }
    }
}

.wow {
    animation-duration: 1s;

    @include max-media($bk-d-768) {
        visibility: visible !important;
        -webkit-animation-name: none !important;
        -o-animation-name: none !important;
        animation-name: none !important;
    }
}