.breadcrumb {
    width: 100%;

    .breadcrumb-menu {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;

        @include max-media($bk-576) {
            overflow-x: scroll;
            white-space: nowrap;
        }


        .breadcrumb-list {
            &:not(:first-child) {
                &::before {
                    content: '\f105';
                    font-family: "Fontawesome";
                    font-size: 30px;
                    color: $g-7070-cl;
                    position: absolute;
                    top: 0;
                    left: 10px;
                    line-height: 19px;
                }

                padding-left: 30px;
                position: relative;
            }

            &.current{
                color: $main-cl;
            }

            a {
                font-size: 12px;
                text-transform: uppercase;
                color: rgba($color: $b-cl, $alpha: .7);
                font-weight: normal;
                transition: all .3s ease;

                &:hover {
                    color: $main-cl;
                }
            }
        }
    }
}
