.swiper-container {
    .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        margin: 0 6px;
        background-color: $w-cl;
        border: 1px solid rgba($color: $g-7070-cl, $alpha: .8);
    }

    .swiper-pagination-bullet-active {
        border-color: $main-cl;
        border-width: 2px;
    }
}