.accounts {
    .accounts-title {
        margin-bottom: 30px;
        padding-bottom: 20px;
        position: relative;
        @include max-media($bk-d-992){
            margin-bottom: 20px;
            padding-bottom: 10px;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 170px;
            height: 2px;
            background-color: $main-cl;
        }
    }

    .accounts-content{
        display: flex;
        flex-wrap: wrap;

    }

    .accounts-infomation{
        display: flex;
        width: calc(100% / 12 * 4);
        @include max-media($bk-d-768){
            width: 100%;
            margin-bottom: 15px;
        }
        .accounts-img{
            width: 70px;
            height: 70px;
            img{
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }

        .accounts-tx{
            padding-left: 15px;
            width: calc(100% - 70px);
            @include max-media($bk-d-992){
                padding-left: 10px;
                padding-right: 5px;
            }
        }

        .accounts-label{
            color: rgba($color: $b-cl, $alpha: .7);
        }

        .accounts-out{
            margin-top: 10px;
        }

    }

    .accounts-ifo{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: calc(100% / 12 * 8);
        @include max-media($bk-d-768){
            width: 100%;
            margin: -5px;
        }

        @include max-media($bk-576){
        
        }

        .accounts-box{
            display: flex;
            align-items: center;
            padding: 5px;

            @include max-media($bk-576){
                width: 50%;
            }
            
        }

        .accounts-cont{
            padding-left: 10px; 
        }
    }

    
}


.post-accounts{
    padding: 30px 0 0;
    .tab{
        .tab-link{
            border-top: 1px solid rgba($color: $g-7070-cl , $alpha: .2);
            border-bottom: 1px solid rgba($color: $g-7070-cl , $alpha: .2);
            @include max-media($bk-576){
                border: 1px solid rgba($color: $g-7070-cl , $alpha: .2);
                border-top: none;
            }
        }

        .tab-title{
            padding: 15px;

            @include max-media($bk-576){
                padding: 10px;
            }
            &:first-child{
                padding-left: 0;
                @include max-media($bk-576){
                    padding-left: 10px;
                }
            }

            &.active{
                color: $main-cl;
                .accounts-tt{
                    font-weight: bold;
                }
            }
        }
    }

    .accounts-lpost{
        .column{
            width: calc(100% / 12 * 4);
            @include max-media($bk-d-992){
                width: calc(100% / 12 * 6);
            }
        }
        padding-top: 30px;
        padding-bottom: 60px;

    }

    .accounts-status{
        padding-top: 20px;
        padding-bottom: 60px;

        .accounts-box{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            border-bottom: 1px solid rgba($color: $g-7070-cl , $alpha: .2);
            padding: 20px 0;
            &:first-child{
                padding-top: 0;
            }
        }

        .accounts-tx{
            width: calc(100% / 12 * 6 + 30px);
            transition: all .3s ease;
            padding-right: 10px;
            &:hover{
                color: $main-cl;
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        .accounts-date{
            width: 130px;
            padding: 0 10px;
            @include max-media($bk-d-768){
                padding: 10px 10px 0 0;                
            }
        }

        .accounts-sta{
            width: max-content;
            margin-left: auto;
            font-style: italic;
            position: relative;
            padding-left: 10px;
            text-align: right;
            @include max-media($bk-d-768){
                padding: 10px 0 0 10px;
            }
            
            &::before{
                content: '\f111 ';
                font-family: 'Fontawesome';
                font-style: normal;
                font-size: 6px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

            &.act-succe{
                color: #69A696;
            }
            &.act-dete{
                color: #A70503;
            }
            &.act-wait{
                color: #E5B949;
            }
        }

        .pagination{
            margin-top: 60px;
            @include max-media($bk-d-992){
                margin-top: 30px;
            }
        }
    }

    .accounts-finfo{
        padding-top: 30px;
        padding-bottom: 190px;

        
        .accounts-form{
            width: calc(100% / 12 * 8);
            display: flex;
            flex-wrap: wrap;
            margin: -12.5px -15px;
            @include max-media($bk-d-992){
                width: 100%;
                margin: -7.5px;
            }
            @include max-media($bk-576){
                width: 100%;
            }
        }

        .accounts-group{
            width: 50%;
            padding: 12.5px 15px;
            @include max-media($bk-d-992){
                padding: 7.5px;
            }
            @include max-media($bk-576){
                width: 100%;
            }
        }

        .account-label{
            color: rgba($color: $b-cl, $alpha: .7);
        }

        .f-control{
            border: none;
            border-radius: 0;
            border-bottom: 1px solid rgba($color: $g-7070-cl , $alpha: .1);
            padding: 4px 0px 10px;
            transition: all .3s ease;
            &:hover , &:focus{
                border-color: $main-cl;
            }
        }


        .accounts-submit{
            width: 200px;
        }

        .f-submit{
            width: 100%;
            border-radius: 20px;
            background-color: $main-cl;
            color: $w-cl;
            font-weight: 500;
            text-transform: none;
            @include fz-15;
            cursor: pointer;
            &:hover{
                letter-spacing: 1px;
            }
        }

        
       

    }


}