.box-home{
    .column{
        width: calc(100% / 12 * 6);

        @include max-media($bk-d-992){
            width: 100%;
        }
    }

    .home-title{
        margin-bottom: 25px;
        @include lh(38,30);
        @include max-media($bk-d-1200){
            margin-bottom: 20px;
        }
        @include max-media($bk-d-992){
            margin-bottom: 15px;
        }
    }

    .home-box{
        .home-img{
            overflow: hidden;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            img{
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                transition: all .3s ease;
            }
        }

        .home-content{
            margin-top: 10px;
        }

        .home-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            @include max-media($bk-576){
                margin-bottom: 5px;
            }
            .home-date{
                color: rgba($color: $b-cl, $alpha: .7);
            }
        }

        .home-tt{
            margin-bottom: 10px;
            transition: all .3s ease;
            @include line-clamp(2);
            @include max-media($bk-576){
                margin-bottom: 5px;
            }
            &:hover{
                color: $main-cl;
            }
        }

        .home-fot{
            display: flex;
            align-items: center;
            justify-content:space-between;
            color: rgba($color: $b-cl, $alpha: .7);
            .home-name{
                
            }

            .home-social{
                display: flex;
                align-items: center;
                .social-item{
                    &:not(:first-child){
                        margin-left: 15px;
                    }
                    
                }

                .social-link{
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    transition: all .3s ease;
                    @include max-media($bk-d-1200){
                        font-size: 0;
                    }
                    &:hover{
                        color: $main-cl;
                    }

                    img{
                        filter: brightness(0) invert(0);
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .home-libar{
        .home-box{
            display: flex;
            align-items: center;
            &:not(:first-child){
                margin-top: 15px;
                @include max-media($bk-d-992){
                    margin-top: 10px;
                }
            }
            .home-img{
                width: 100%;
                max-width: 170px;
                @include max-media($bk-576){
                    max-width: 145px;
                }
            }
            .home-content{
                width: calc(100% - 170px);
                padding-left: 30px;
                margin-top: 0;
                @include max-media($bk-d-1200){
                    padding-left: 15px;
                }
                @include max-media($bk-d-992){
                    padding-left: 10px;
                }
                @include max-media($bk-576){
                    width: calc(100% - 145px);
                }
            }
        }
    }

    
}